# Worksheet 06a: File Input/Output

_**Leader**: Victor Yuan **Reviewer:** Almas Khan **ASDA Assist**: David Kepplinger_

*Version 0*

This is the corresponding worksheet for Class 12 (Oct 20, 2020) & Class 13 (Oct 22, 2020).

There are 13 questions. To get 100% on this worksheet, you must get correct 0.4*13 = __5 questions__.

Some notes:

- Remember to pay attention to the variable name to store your answer in, or else it will not be autograded correctly.
- To ensure everything works properly, remember to run all code cells, not just the ones with your answer.

If you want to use packages which are not yet installed, you can use the code cell below to install them. You might not have the R package **repex** installed.

In [3]:
# Install additional packages, e.g.
install.packages("here")
 install.packages("testthat")
install.packages("reprex")

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

Use the following code cell to load any additional packages you want to use for this worksheet.

In [4]:
# Load packages, e.g.
library(devtools)

Loading required package: usethis

Run the code cell below to load the packages.

In [5]:
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(gapminder))
suppressPackageStartupMessages(library(here))
suppressPackageStartupMessages(library(testthat))
suppressPackageStartupMessages(library(reprex))

## TOPIC 1: Writing and reading data from disk

For writing R objects to your computer, and reading tabular data into R, we can use the `tidyverse` package `readr`, which is loaded when running `library(tidyverse)`

Let’s first load the built-in gapminder dataset and the tidyverse:

Next, let’s filter the data only from 2007 and only in the Asia continent and save it to a variable.

In [6]:
gap_asia_2007 <- gapminder %>% filter(year == 2007, continent == "Asia")
gap_asia_2007 %>%
  head()

  country          continent year lifeExp pop        gdpPercap
1 Afghanistan      Asia      2007 43.828    31889923   974.5803
2 Bahrain          Asia      2007 75.635      708573 29796.0483
3 Bangladesh       Asia      2007 64.062   150448339  1391.2538
4 Cambodia         Asia      2007 59.723    14131858  1713.7787
5 China            Asia      2007 72.961  1318683096  4959.1149
6 Hong Kong, China Asia      2007 82.208     6980412 39724.9787

#### Question 1.1

Write `gap_asia_2007` to a comma-separated value (csv) file named `exported_file.csv` with just one command:

```
write_csv(FILL_THIS_IN, "exported_file.csv")
```

In [6]:
# your code here
write_csv(gap_asia_2007, "exported_file.csv")

In [7]:
test_that("Question 1.1", {
    expect_true(file.exists('exported_file.csv'))
    with(read.table('exported_file.csv', header = TRUE, sep = ',', stringsAsFactors = FALSE), {
        ctr_order <- order(enc2utf8(country), method = 'radix')
        expect_known_hash(country[ctr_order], '502e6665c327bdbc211f89c785ee853b')
        expect_known_hash(as.integer(pop[ctr_order]), '8bb3c4cc0e3a3380ff82cbd9fe83b2cb')
    })
})
print("Success!")

[1] "Success!"

#### Question 1.2

Let's use the function `read_csv` to  read in `exported_file.csv` back into R and store this as the variable `gap_asia_2007_in`.

```
gap_asia_2007_in <- read_csv("FILL_THIS_IN")

```

In [19]:
# your code here
gap_asia_2007_in <- read_csv("exported_file.csv")

Parsed with column specification:
cols(
  country = col_character(),
  continent = col_character(),
  year = col_double(),
  lifeExp = col_double(),
  pop = col_double(),
  gdpPercap = col_double()
)

In [20]:
test_that("Question 1.2", {
    expect_known_hash(colnames(gap_asia_2007_in), 'cc76c54ddad925d63e472c77cd7bd7bf')
    expect_known_hash(sapply(gap_asia_2007_in, typeof), '68eb6593a9f582ea9b4aec7862df6be4')
    with(gap_asia_2007_in, {
        ctr_order <- order(enc2utf8(country), method = 'radix')
        expect_known_hash(country[ctr_order], '502e6665c327bdbc211f89c785ee853b')
        expect_known_hash(unique(continent), 'a500021b40bafb5d1ad20bed151aab68')
        expect_known_hash(round(lifeExp[ctr_order], 2), '9da5c364cf95548c95ea94de3193202b')
    })
})
print("Success!")

[1] "Success!"

Notice the output of running `read_csv`. This tells us about the types of variables that were read in. It's a good habit to check this every time you run a `read_` function. Sometimes we might want to change how these variable types are specified...

#### Question 1.3

Let's use the function `read_csv` to  read in `exported_file.csv` back into R and store this as the variable `gap_asia_2007_in_cspec`.

But! This time let's specify that we want the:

- columns `country` and `continent` to be `factors`
- all other column specification to be automatically determined by `read_csv`

```
gap_asia_2007_in_cspec <- FILL_THIS_IN(
  "FILL_THIS_IN.csv", 
  col_types = cols(
    country = col_factor(),
    continent = FILL_THIS_IN
  ))
```

In [29]:
# your code here
gap_asia_2007_in_cspec <- read_csv(
  "exported_file.csv", 
  col_types = cols(
    country = col_factor(),
    continent = col_factor()
  ))
gap_asia_2007_in_cspec

   country            continent year lifeExp pop        gdpPercap
1  Afghanistan        Asia      2007 43.828    31889923   974.5803
2  Bahrain            Asia      2007 75.635      708573 29796.0483
3  Bangladesh         Asia      2007 64.062   150448339  1391.2538
4  Cambodia           Asia      2007 59.723    14131858  1713.7787
5  China              Asia      2007 72.961  1318683096  4959.1149
6  Hong Kong, China   Asia      2007 82.208     6980412 39724.9787
7  India              Asia      2007 64.698  1110396331  2452.2104
8  Indonesia          Asia      2007 70.650   223547000  3540.6516
9  Iran               Asia      2007 70.964    69453570 11605.7145
10 Iraq               Asia      2007 59.545    27499638  4471.0619
11 Israel             Asia      2007 80.745     6426679 25523.2771
12 Japan              Asia      2007 82.603   127467972 31656.0681
13 Jordan             Asia      2007 72.535     6053193  4519.4612
14 Korea, Dem. Rep.   Asia      2007 67.297    23301725  1593.0655
15 Korea, Rep.        Asia      2007 78.623    49044790 23348.1397
16 Kuwait             Asia      2007 77.588     2505559 47306.9898
17 Lebanon            Asia      2007 71.993     3921278 10461.0587
18 Malaysia           Asia      2007 74.241    24821286 12451.6558
19 Mongolia           Asia      2007 66.803     2874127  3095.7723
20 Myanmar            Asia      2007 62.069    47761980   944.0000
21 Nepal              Asia      2007 63.785    28901790  1091.3598
22 Oman               Asia      2007 75.640     3204897 22316.1929
23 Pakistan           Asia      2007 65.483   169270617  2605.9476
24 Philippines        Asia      2007 71.688    91077287  3190.4810
25 Saudi Arabia       Asia      2007 72.777    27601038 21654.8319
26 Singapore          Asia      2007 79.972     4553009 47143.1796
27 Sri Lanka          Asia      2007 72.396    20378239  3970.0954
28 Syria              Asia      2007 74.143    19314747  4184.5481
29 Taiwan             Asia      2007 78.400    23174294 28718.2768
30 Thailand           Asia      2007 70.616    65068149  7458.3963
31 Vietnam            Asia      2007 74.249    85262356  2441.5764
32 West Bank and Gaza Asia      2007 73.422     4018332  3025.3498
33 Yemen, Rep.        Asia      2007 62.698    22211743  2280.7699

In [30]:
test_that("Question 1.2", {
    expect_known_hash(sapply(gap_asia_2007_in_cspec, typeof), 'd3ed7d3a07fad8143eb7dd22d88d62a3')
    with(gap_asia_2007_in_cspec, {
        expect_known_hash(sort(enc2utf8(levels(country)), method = 'radix'), '502e6665c327bdbc211f89c785ee853b')
        expect_known_hash(as.integer(continent), 'ccdd4647040ccea8f1863ae5e101edf9')
    })
})
print("Success!")

[1] "Success!"

### Filepaths with `here::here()`

Up until now, we always wrote and read files to our current directory. If we wanted to use a different folder on our computer, we could specify something like: 

- `Documents/STAT545/exported_file.csv` - Mac uses forward slashes
- `Documents\STAT545\exported_file.csv` - Windows uses backward slashes

However, if you wanted to make your Rproj more portable and accessible to more users in a cross-platform (between Mac, Unix, Windows users), rather than specifying every path explicitly, `here::here()` allows you to set relative paths much more easily.

#### Question 1.4

First, run the function `here::here()`. Note where this location is on your computer.

Second, use your file browser to go to the location returned by `here::here()`, create a folder called **"worksheet_06a_data"**.

Lastly,  filter `gap_asia_2007` to when `country` is equal to `"Pakistan"`. Then, write this to a `csv` file in your newly created folder called *"worksheet_06a_data"*.

```
here::here()
write_csv(gap_asia_2007, FILL_THIS_IN("worksheet_06a_data", FILL_THIS_IN.csv))
```

In [31]:
# your code here
here::here()
gap_asia_2007 %>%
    #filter (country == "Pakistan") %>%
    write_csv(here::here("worksheet_06a_data", "here_exported_file.csv"))

[1] "/home/jupyter"

In [32]:
test_that("Question 1.4", {
    expect_true(dir.exists(here::here('worksheet_06a_data')))
    expect_true(file.exists(here::here('worksheet_06a_data', 'here_exported_file.csv')))
    expect_setequal(tools::md5sum("exported_file.csv"), tools::md5sum(here::here('worksheet_06a_data', 'here_exported_file.csv')))
    with(read.table(here::here('worksheet_06a_data', 'here_exported_file.csv'), header = TRUE, sep = ',', stringsAsFactors = FALSE), {
        ctr_order <- order(enc2utf8(country), method = 'radix')
        expect_known_hash(country[ctr_order], '502e6665c327bdbc211f89c785ee853b')
        expect_known_hash(round(gdpPercap[ctr_order], 2), '78771a63570dc79433e9587793969a73')
    })
})
print("Success!")

ERROR: Error: Test failed: 'Question 1.4'
* <text>:2: dir.exists(here::here("worksheet_06a_data")) isn't true.
* <text>:3: file.exists(here::here("worksheet_06a_data", "here_exported_file.csv")) isn't true.
* <text>:4: tools::md5sum("exported_file.csv")[1] absent from tools::md5sum(here::here("worksheet_06a_data", "here_exported_file.csv"))
* <text>:4: tools::md5sum(here::here("worksheet_06a_data", "here_exported_file.csv"))[1] absent from tools::md5sum("exported_file.csv")
* <text>:5: cannot open the connection
Backtrace:
 1. base::with(...)
 2. utils::read.table(...)
 3. base::file(file, "rt")

## TOPIC 2: Base R

For this section, avoid using `tidyverse` functions when possible.

#### Question 2.1

First, let's assign the alphabet to the vector `alphabet`:

In [9]:
(alphabet <- LETTERS)

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

Use `[]` to subset the 3rd and 7th element of the vector `alphabet`, and assign this to an R object called `a2.1`. 

```
a2.1 <- alphabet[FILL_THIS_IN]
```

In [10]:
# your code here
a2.1 <- alphabet[c(3,7)]
a2.1

[1] "C" "G"

In [11]:
test_that("Question 2.1", expect_known_hash(a2.1, '548ed661cd18d7e1c902348697727011'))
print("Success!")

[1] "Success!"

#### Question 2.2

Use `[]` to extract everything from the `alphabet` vector, except the third entry. Assign this to a2.2

```
a2.2 <- alphabet[FILL_THIS_IN]
```

In [12]:
# your code here
a2.2 <- alphabet[-3]
a2.2

 [1] "A" "B" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T"
[20] "U" "V" "W" "X" "Y" "Z"

In [13]:
test_that("Question 2.2", expect_known_hash(a2.2, 'e637ddc1874226525a2c12063956edfa'))
print("Success!")

[1] "Success!"

#### Question 2.3

Extract the 2nd to 19th entry of `alphabet` – make use of `:` to construct sequential vectors. Assign to the object `a2.3`

```
a2.3 <- alphabet[FILL_THIS_IN]
```

In [14]:
# your code here
a2.3 <- alphabet[2:19]
a2.3

 [1] "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"

In [15]:
test_that("Question 2.3", expect_known_hash(a2.3, '716b4c1a6fce07eb1bae341b04999f22'))
print("Success!")

[1] "Success!"

#### Question 2.4

Replace the second entry of `alphabet` with the character string "This is where B is". Assign **in place** (i.e. do not create a new object, but change the existing `alphabet` vector).

```
alphabet[FILL_THIS_IN] <- FILL_THIS_IN
alphabet
```

In [16]:
# your code here
alphabet[2] <- "This is where B is"
alphabet

 [1] "A"                  "This is where B is" "C"
 [4] "D"                  "E"                  "F"
 [7] "G"                  "H"                  "I"
[10] "J"                  "K"                  "L"
[13] "M"                  "N"                  "O"
[16] "P"                  "Q"                  "R"
[19] "S"                  "T"                  "U"
[22] "V"                  "W"                  "X"
[25] "Y"                  "Z"

In [17]:
test_that("Question 2.5", expect_known_hash(enc2utf8(alphabet), 'a9acf5bcf0a199fd37259f8f1b56487a'))
print("Success!")

[1] "Success!"

#### Question 2.5

With the newly altered alphabet vector created from Q2.4, create a new vector called `a2.5`, where it is the same vector, but repeated twice. Hint: use `c()`

```
a2.5 <- FILL_THIS_IN(FILL_THIS_IN)
```

In [20]:
# your code here
a2.5 <- c(alphabet, alphabet)
a2.5 <- rep(alphabet, 2)
a2.5

 [1] "A"                  "This is where B is" "C"
 [4] "D"                  "E"                  "F"
 [7] "G"                  "H"                  "I"
[10] "J"                  "K"                  "L"
[13] "M"                  "N"                  "O"
[16] "P"                  "Q"                  "R"
[19] "S"                  "T"                  "U"
[22] "V"                  "W"                  "X"
[25] "Y"                  "Z"                  "A"
[28] "This is where B is" "C"                  "D"
[31] "E"                  "F"                  "G"
[34] "H"                  "I"                  "J"
[37] "K"                  "L"                  "M"
[40] "N"                  "O"                  "P"
[43] "Q"                  "R"                  "S"
[46] "T"                  "U"                  "V"
[49] "W"                  "X"                  "Y"
[52] "Z"

In [19]:
test_that("Question 2.5", expect_known_hash(enc2utf8(a2.5), '34c18fc97d296e3c4f6dc28b56a62b91'))
print("Success!")

[1] "Success!"

#### Question 2.6

Load the mtcars dataset. 

1. Extract the vector of `mpg` values using the `$` operator 
2. Extract the 2nd to 24th elements, inclusively.
3. Assign this to the object `a2.6`. 

```
(a2.6 <- mtcars$FILL_THIS_IN[FILL_THIS_IN])
```

In [21]:
# your code here
(a2.6 <- mtcars$mpg[2:24])
a2.6

 [1] 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4 10.4
[16] 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3

 [1] 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4 10.4
[16] 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3

In [22]:
test_that("Question 2.6", expect_known_hash(a2.6, 'd065f0e9275a4ff106485010c3fd1c2c'))
print("Success!")

[1] "Success!"

#### Question 2.7

Using `mtcars` again,

1. Extract the vector of `wt` values using the `$` operator.
2. Replace each value with `TRUE` if the value is greater than 3.4, and `FALSE` otherwise.
3. Assign this logical vector to the R object `a2.7`

```
(a2.7 <- mtcars$FILL_THIS_IN) 
```

In [23]:
# your code here
(a2.7 <- mtcars$wt > 3.4) 
a2.7

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE
[25]  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE
[25]  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

In [24]:
test_that("Question 2.7", expect_known_hash(a2.7, 'c51a40941e57f8892fe413bee95fd8d5'))
print("Success!")

[1] "Success!"

#### Question 2.8

Using `mtcars`,

1. For the rows where mpg > 20, replace the car weight entries (`wt`) with the number `1000`
2. Assign this new *tibble* as as the object a2.8

```
a2.8 <- mtcars
a2.8$wt[FILL_THIS_IN] <- FILL_THIS_IN
a2.8
```

In [25]:
# your code here
a2.8 <- mtcars
a2.8$wt[a2.8$mpg > 20] <- 1000
a2.8

                    mpg  cyl disp  hp  drat wt       qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 1000.000 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 1000.000 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 1000.000 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 1000.000 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15    3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76    3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21    3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 1000.000 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 1000.000 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92    3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92    3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07    4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07    3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07    3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93    5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00    5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23    5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 1000.000 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1000.000 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1000.000 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 1000.000 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76    3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15    3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73    3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08    3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1000.000 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 1000.000 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1000.000 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22    3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62    2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54    3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 1000.000 18.60 1  1  4    2

In [26]:
test_that("Question 2.8", expect_known_hash(a2.8$wt, '4e56aa37c9e2888594cc7c360f784b70'))
print("Success!")

[1] "Success!"

## TOPIC 3: Reprex

If you haven't done question 1.4, then do the following before attempting questions for this section:

- in your file browser go to the location returned by `here::here()` and create a folder called **"worksheet_06a_data"**.

#### Question 3.1

Create a reprex for the code and output of `mean(rnorm(10))`. Specify the output folder to be **worksheet_06_data**.

After doing this, I encourage you to open up the output files and take a look at your reprex!

```
reprex(FILL_THIS_IN, 
       outfile = here::here('FILL_THIS_IN', 'reprex.md'))
```

In [29]:
# your code here
reprex(mean(rnorm(10)), 
       outfile = here::here('Worksheet_06_data', 'reprex.md'))

Warning message in file(con, "w"):
“cannot open file '/home/jupyter/Wworksheet_06a_data/reprex_reprex.R': No such file or directory”

ERROR: Error in file(con, "w"): cannot open the connection

In [ ]:
test_that("Question 3.1", {
    expect_true(file.exists(here::here('worksheet_06a_data', 'reprex_reprex.md')))
    expect_true(file.exists(here::here('worksheet_06a_data', 'reprex_reprex.R')))
    expect_known_hash(gsub('\\s', '', paste0(readLines(here::here('worksheet_06a_data', 'reprex_reprex.R')), collapse = '')), 
                      '41311107e8e35738e6e60c14e8d78a65')
})
print("Success!")